In [71]:
import pandas as pd
import numpy as np
import re
from tabula import read_pdf

In [22]:
df = read_pdf('PR-180406.pdf',
              guess=False,
              pages=1
             )

In [157]:
df[0].head()

,Unnamed: 0,U.S. Wheat Associates,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,Weekly Price Report,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,"April 6, 2018",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,APR (K18),APR (K18),MAY (K18),JUN (N18),JUL (N18),AUG (U18),SEP (U18),OCT (Z18),Year Ago
3,Export,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Percent Protein (nearbys) week change,FOB Basis,FOB Basis,FOB Basis,FOB Basis,FOB Basis,FOB Basis,FOB Basis,(nearbys)

In [39]:
data = df[0]
o_header = df[0].columns

In [75]:
p = re.compile('^Unnamed.*$')
origin_desc = ''.join([ s for s in o_header if not p.match(s) ])
#Asumiendo que siempre viene en en la 1 col en las primeras 2 rows.
report_desc = ' - '.join(data[o_header[1]][:2])

#Traer los meses de exp.

#Hacer un IF que el orden sea Fob,Basis

In [78]:
if origin_desc == '' or report_desc == '':
    print('FALTAN CAMPOS, VALIDAR')

In [158]:
#Asumiendo que mantiene ese rango.
clean_data = data[o_header[1:]][7:31]

In [162]:
fob_basis = pd.DataFrame()
for i in range(1,8):
    col = 'Unnamed: '+ str(i)
    i_fob = str(i) + '_Fob'
    i_basis = str(i) + '_Basis'
    i_fob_basis = clean_data[col].str.split(expand=True,).reset_index(drop=True)
    i_fob_basis.columns = [i_fob, i_basis]
    fob_basis = pd.concat([fob_basis,i_fob_basis], axis=1)
fob_basis

,1_Fob,1_Basis,2_Fob,2_Basis,3_Fob,3_Basis,4_Fob,4_Basis,5_Fob,5_Basis,6_Fob,6_Basis,7_Fob,7_Basis
0,245,60,243,55,247,55,247,55,247,50,246,45,253,55
1,258,95,256,90,260,90,260,90,260,85,258,80,266,90
2,269,125,267,120,271,120,271,120,271,115,270,110,277,120
3,293,190,289,180,284,155,278,140,281,140,281,140,288,150
4,308,230,304,220,298,195,293,180,295,180,295,180,303,190
5,332,295,328,285,322,260,317,245,319,245,319,245,327,255
6,225,105,225,105,226,90,226,90,231,85,231,85,245,100
7,232,125,232,125,234,110,234,110,239,105,239,105,252,120
8,245,160,245,160,246,145,246,145,251,140,251,140,265,155
9,258,195,258,195,259,180,259,180,264,175,264,175,278,190
10,269,225,269,225,270,210,270,210,275,205,275,205,289,220
11,214,110,208,95,213,90,213,90,215,80,215,80,227,90
12,289,180,289,180,285,160,285,160,282,145,282,145,290,155
13,293,190,293,190,289,170,289,170,286,155,286,155,294,165
14,304,220,304,220,300,200,300,200,297,185,297,185,309,205
15,252,180,250,175,248,150,248,150,244,120,244,120,256,130
16,258,195,256,190,254,165,254,165,250,135,250,135,262,145
17,265,215,263,210,261,185,261,185,257,155,257,155,269,165
18,276,245,274,240,272,215,272,215,268,185,268,185,280,195
19,228,6.20,228,6.20,224,6.10,224,6.10,217,5.90,219,5.95,222,6.05
20,228,6.20,228,6.20,224,6.10,224,6.10,217,5.90,219,5.95,222,6.05
21,230,6.25,230,6.25,226,6.15,226,6.15,219,5.95,222,6.05,226,6.15
22,229,6.23,229,6.23,225,6.13,225,6.13,218,5.93,221,6.01,224,6.11
23,230,6.26,230,6.26,226,6.16,226,6.16,219,5.96,223,6.07,227,6.17