In [1]:
import pandas as pd
import numpy as np
import re
from tabula import read_pdf

In [2]:
df = read_pdf('Files/PR-180406.pdf',
              guess=False,
              pages=1
             )

In [3]:
df[0].head(10)

,Unnamed: 0,U.S. Wheat Associates,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,Weekly Price Report,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,"April 6, 2018",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,APR (K18),APR (K18),MAY (K18),JUN (N18),JUL (N18),AUG (U18),SEP (U18),OCT (Z18),Year Ago
3,Export,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Percent Protein (nearbys) week change,FOB Basis,FOB Basis,FOB Basis,FOB Basis,FOB Basis,FOB Basis,FOB Basis,(nearbys)
5,Region,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,12% (Dry) Moisture Basis FOB $/bu $/bu $/MT,$/MT ¢/bu,$/MT ¢/bu,$/MT ¢/bu,$/MT ¢/bu,$/MT ¢/bu,$/MT ¢/bu,$/MT ¢/bu,$/MT
7,Great,NS/DNS 13.5 (15.3) M 6.67 0.29 11,245 60,243 55,247 55,247 55,247 50,246 45,253 55,209
8,Lakes,NS/DNS 14.0 (15.9) M 7.02 0.24 9,258 95,256 90,260 90,260 90,260 85,258 80,266 90,214
9,NaN,NS/DNS 14.5 (16.5) M 7.32 0.29 11,269 125,267 120,271 120,271 120,271 115,270 110,277 120,N/A

In [4]:
data = df[0]
o_header = df[0].columns

In [5]:
p = re.compile('^Unnamed.*$')
origin_desc = ''.join([ s for s in o_header if not p.match(s) ])
#Asumiendo que siempre viene en en la 1 col en las primeras 2 rows.
report_desc = ' - '.join(data[o_header[1]][:2])

#Traer los meses de exp.

#Hacer un IF que el orden sea Fob,Basis

In [8]:
print(origin_desc)
print(report_desc)

U.S. Wheat Associates
Weekly Price Report - April 6, 2018

In [ ]:
if origin_desc == '' or report_desc == '':
    print('FALTAN HEADERS, VALIDAR')

In [34]:
#HEADER
#Asumiendo que mantiene ese rango.
header_data = data[o_header[2:]][2:3]

In [38]:
#Expiration Months.
exp_months = []
for i in range(1,8):
    col = 'Unnamed: '+ str(i)
    exp_months = np.append(exp_months, header_data[col])

In [ ]:
#Places and Gulf.
gulf_nm = []

In [39]:
exp_months

array(['APR (K18)', 'MAY (K18)', 'JUN (N18)', 'JUL (N18)', 'AUG (U18)',
       'SEP (U18)', 'OCT (Z18)'], dtype=object)

gulf_nm

In [ ]:
#DATA
#Asumiendo que mantiene ese rango.
clean_data = data[o_header[1:]][7:31]

In [ ]:
fob_basis = pd.DataFrame()
for i in range(1,8):
    col = 'Unnamed: '+ str(i)
    i_fob = str(i) + '_Fob'
    i_basis = str(i) + '_Basis'
    i_fob_basis = clean_data[col].str.split(expand=True,).reset_index(drop=True)
    i_fob_basis.columns = [i_fob, i_basis]
    fob_basis = pd.concat([fob_basis,i_fob_basis], axis=1)
fob_basis